* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: rgb(99, 234, 234);
  padding: 0px 00px 0px 0px;
}
.header {
  display: flex;
  background-color: rgb(20, 150, 150);
  min-height: 150px;
  align-items: center;
}
.header h1 {
  flex: 1;
  text-align: center;
  padding-left: 0;
}

.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(152, 171, 228);
  min-height: 150px;
  padding-left: 10px;
}

img {
  padding-left: 10px;
  padding-right: 0;
}

.content p {
  text-align: justify;
}
label {
  width: 100px;
  text-align: right;
  display: inline-block;
  padding-right: 5px;
}
hr {
  margin-bottom: 15px;
}

table thead th {
  background-color: rgb(6, 59, 68);
  color: white;
}

td {
  text-align: center;
}

td.service {
  text-align: left;
}
table tbody tr:nth-child(even) td {
  background-color: rgb(118, 238, 238);
}

table tbody tr:nth-child(odd) td {
  background-color: rgb(79, 173, 173);
}

table,
tr,
th,
td {
  border: none;
}
table {
  border-collapse: collapse;
}

ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li a {
  padding-left: 10px;
}
ul li:hover {
  background-color: rgb(255, 255, 255);
}
ul li {
  padding: 20px 0px 20px 0px;
  border: 1px;
}
